body,h1,h2,h3,h4,h5,h6,p,ul,ol{
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1em;
	list-style: none;
}
.all-wrap{
	margin: auto;
}

a{
	color: #5e0202;
}
.block{
	height: 100vh;
	max-height: 768px;
	padding-top: 5em;
}
.main-banner{
	background: url(../images/bg-banner.jpg),url(../images/bg-banner-bg.jpg);	
	background-repeat: no-repeat,repeat;
	-webkit-background-size: 100% ;
	background-size: 100% ;
	position: relative;
	overflow: hidden;
}

.book{
	max-width: 640px;
	position: absolute;
	right: 3%;
	bottom: 0;
}

.book img{
	width: 100%;
	display: block;
}
.main-banner hgroup{
	position: absolute;
	left: 18%;
	top: 17%;
	color: #5e0202;
	text-shadow: 3px 3px 20px #fff,-3px -3px 20px #fff,3px -3px 20px #fff,-3px 3px 20px #fff;
	z-index: 999;
}
.main-banner hgroup h1{
	font-size: 3.5em;}
.main-banner hgroup h2{
	font-size: 2em;
	letter-spacing: 0.25em;
	margin-top: 0.5em;
}

.ad-txt{
	position: absolute;
	left: 18%;
	top: 40%;
	color: #fff;
	text-shadow: 2px 2px 10px #000,-2px -2px 10px #000,2px -2px 10px #000,-2px 2px 10px #000;
	font-size: 1.25em;
}
.ad-txt p{
	line-height: 1.8em;
}
.ad-txt a{
	text-shadow:none;
	display: block;
	text-decoration: none;
	border-radius: 10px;
	background: #eeb9b9;
	text-align: center;
	height: 3em;
	line-height: 3em;
	width: 8em;
	margin-top: 1em;
}


.ad01{
	background: url(../images/bg-life.jpg);
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position:center bottom;
}

.txt{
	font-size: 1.2em;
	line-height: 1.5em;
}
.txt p{
	line-height: 1.5em;
	margin-bottom: 1em;
}

.ad01 .txt{
	width: 80%;
	max-width: 640px;
	margin: auto;
}

.block h2{
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 1em;
	color: #5e0202;
}
.ad h2:after{
	content: "...";
	display: block;
	color: #eeb9b9;
	font-size: 2em;
	margin-top: -0.2em;
}

.ad02 p{
	text-align: center;
}
.bi-block img{
	max-width: 240px;
	width: 100%;
	display: block;
	margin: auto;
}
.special-package a{
	display: block;
	
}
.buy-info{
	overflow: hidden;
	max-width: 1200px;
	margin: auto;
}
.bi-block{
	float: left;
	width: 33.33%;
	text-align: center;
}
.bi-block h3{
	font-size: 1.25em;
	color: #eeb9b9;
	margin-bottom: 1em;
}

.bi-block h4{
	font-size: 1.15em;
	color: #eeb9b9;
	margin: 1em 0;
}

.bi-block a,.bi-block a span{
	display: block;
	text-decoration: none;
	background: #eeb9b9;
	border-radius: 10px;
	max-width: 320px;
	margin: auto;
	height: 3em;
	line-height: 3em;
	margin-bottom: 1em;
}

.bi-block p{
	max-width: 300px;
	margin: auto;
}

.special-package.bi-block a{
	background: none;
	height: auto;
}
.bi-block .info-btn{
	background: #ccc;
}
.ad03{
	background: #f1f1f1;
}

.ad03 .bi-block p{
	text-align: justify;
}


.book-store-offline iframe{
	width: 320px;
	height: 320px;
}
footer{
	background: url(../images/bg-banner-bg.jpg);
	background-position: left bottom;
	padding: 1.5em;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 10px #000,-2px -2px 10px #000,2px -2px 10px #000,-2px 2px 10px #000;
}


@media (max-width: 960px){
	.block{
	min-height:100vh;
	max-height: none;
	height: auto;
}
	.main-banner hgroup{
	top: 12%;
}
	.ad-txt{
	top: 27%;
}
	.book{
	right: -5vw;
}
	.bi-block{
		float: none;
		margin: 0 auto 4em auto;
		width: 80%;
	}
	.bi-block img{
	max-width: 420px;
}
	.bi-block.special-package a{
	max-width: none;
}
	.book-store-online.bi-block li{
			display: inline-block;
			width: 30%;
	}
	.video{
		position: relative;
		padding-top: 80%;
		width: 80%;
		margin: auto
	}
	.book-store-offline iframe{
		position: absolute;
		left: 0;
		top: 0;
	width: 100%;
	height: 100%;
}
	.bi-block p{
	max-width: 580px;
	margin: auto;
}
	.ad03 .bi-block a{
		display: inline-block;
		width: 320px;
	}
}
@media (max-width: 800px){
	.book{
	max-width: 560px;
}
}


@media (max-width: 640px){
	.main-banner hgroup h1{
	font-size: 3em;}
.main-banner hgroup h2{
	font-size: 1.8em;
}
		.main-banner hgroup{
			width: 100%;
			text-align: center;
	left: 0;
	top: 9%;
}
	.ad-txt{
	left: 0;
	top: 22%;
	width: 100%;
	text-align: center;
}
	.ad-txt a{
		margin: 1em auto 0 auto;
	}
	.book{
	max-width: 420px;
	right: -2vw;
	bottom: -5vh;
}
	.ad01.block{
		min-height:15em;
		padding-bottom: 9em;
	}
		.video{
		position: relative;
		padding-top: 100%;
		width: 100%;
		margin: auto
	}
}

