@charset "utf-8";
/* CSS Document */

body,p,h1,h2,h3,h4,h5,h6,ul,ol{
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}
body{
	font-size: 26px;
	min-height: 100vh;
	
	letter-spacing: 2px;
}
.donate-body{background-image: url(../images/bgg3.jpg);}
.all-wrap{
	background-image: url(../images/bgg2.jpg);
	background-position: left bottom;
	background-repeat: no-repeat;
	height: 100%;
	min-height: 100vh;
}
.word-wrap{
	background-image: url(../images/bgg4.jpg);
	background-position: right bottom;
	background-repeat: no-repeat;
	height: 100%;
	min-height: 100vh;
}
.form-wrap{
	padding:30px 5%;}

.title{
	font-size: 32px;
	font-weight: bold;
	text-align:center;
	margin-bottom: 10px;
color: #fff;}
.ts-info{
	font-size: 20px;
	text-align:center;
	margin-bottom: 20px;
color: #ccc;}
.spt{
	color:#770001;
	font-size: 20px;}
.form-table{
	max-width:1000px;
	margin:auto;
	border-radius:5px;
	box-sizing:border-box;
	padding:15px 3%;
	background-color:#f3f3f3;}
.form-table table{
	width: 100%;
	border-collapse:collapse;
	}
.form-table table input{
	width: 80%;
	padding:7px;
	border-radius:5px;
	border:1px solid #ccc;
font-size: 1em;}
.form-table table .short-input{
	width:120px;}
.form-table td{
	padding:18px 5px;
border-bottom: 1px dotted #ccc;}
.form-table th{
	text-align:right;
	vertical-align: top;
	padding:15px 5px;
}
.btn-bar{
	text-align:center;
	padding:10px 0 0 0;}
.btn-bar button{
	margin:5px;
	cursor:pointer;
	border-radius:5px;
	border:none;
	font-size: 1.8em;
	padding:9px 18px;
background: #a60c00;
color: #fff;}
.center{
	text-align: center;
}
label{
	display: block;
}
select{
	font-size: 1em;
}
@media screen and (max-width:960px) {
	.all-wrap{
	background-image:none;
}
.word-wrap{
	background-image:none;
}

.title{
	font-size: 28px;}
.ts-info{
	font-size: 16px;}
.spt{
	font-size: 16px;}
}