body,h1,h2,h3,h4,h5,h6,p,ul,ol{
	margin: 0px;
	padding: 0px;
	font-size: 1em;
}
body{
	background-image: url("../images/bg.png"), url("../images/bg.png");
	background-repeat :repeat-y,repeat-y;
	background-position:left top,right top;
	
}
iframe{
	width: 100%;
}
.all-wrap{
	position: relative;
	margin: auto;
}
.video-frame{
	padding: 73px 30% 0 53px;
	position: relative;
}
.video-frame h1{
	height: 20px;
}
h2{
	height: 20px;
	overflow: hidden;
	line-height: 20em;
}
.main-video{
	width: 100%;
	padding-top: 50%;
	display: block;
	box-sizing: border-box;
	position: relative;
}
.main-video iframe{
	height: 100%;
	position: absolute;
	top: 0px;
}

.chat-block{
	width: 25%;
	display: block;
	box-sizing: border-box;
	position: absolute;
	right: 53px;
	top: 93px;
	border:2px solid #000;
}
.fb-comments{
	height: 100%;
	position: absolute;
	top: 0px;
}

.decoration-block div{
	position: absolute;
	overflow: hidden;
	text-indent: -1000px;
}
.d-top{
	height: 93px;
	width: 100%;
	background: url("../images/top.png") top center no-repeat;
	left: 0px;
	top: 0px;
}
.d-left{
	width: 53px;
	background: url("../images/left.png") top no-repeat;
	left: 0;
	top: 93px;
	height: 720px;
}
.d-right{
	width: 53px;
	background: url("../images/right.png") top no-repeat;
	right: 0;
	top: 93px;
	height: 720px;
}

@media (max-width: 960px) {
	.video-frame{
	padding: 73px 53px 0 53px;
	position: relative;
}
	.main-video{
	width: 100%;
	padding-top: 70%;
	
}

.chat-block{
	width: 110%;
	top:100%;
	right: auto;
	left: 0px;
	padding: 0 53px;
}
}

