@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dd,dt,dl,p,em,strong,address{
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	list-style: none;
}
body{
	font-family: "xingothic-tc";
	line-height: 2em;
}
a{
	color: #cc0000;
	text-decoration: none;
}
.wrap{
	padding-bottom: 30px;
	background-image: url(../images/bag-cover.jpg);
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	max-width: 2400px;
	margin: auto;
}
.book-cover{
	height: 1px;
	overflow: hidden;
}
.book-info{
	height: 1px;
	overflow: hidden;
	padding-top: 49%;
	position: relative;
	font-size: 18px;
	line-height: 1.7em;
}


.info-p{
	margin-bottom: 15px;
	font-size: 15px;
	line-height: 1.4em;
}

.note{
	font-size: 13px;
	margin-top: 15px;
	line-height: 1.4em;
}
.info-01 h2{
	font-size: 26px;
	font-weight: bold;
	margin-top: 30px;
}
.info-01 h3{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #999;
}
.info-01 .btn{
		position: absolute;
	right: 6.5%;
	bottom: 24%;
}
.ih{
	height: 1px;
	overflow: hidden;
	line-height: 3em;
}
.btn{
	border-radius: 8px;
	text-decoration: none;
	padding: 0.5em 1em;
	display: block;
	font-size: 1.5em;
}
.btn01{
	background: #cc0000;
	color: #fff;
}
.btn02{
	background: #aaa099;
	color: #fff;
}
.action-btn{
	text-align: center;
}
.action-btn a{
	display: inline-block;
	margin:10px;
}
.footer{
	position: fixed;
	color: #fff;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #000;
	text-align: center;
	font-size: 16px;
	padding: 15px 0; 
}

.footer p{
	display: inline-block;
	margin: 0 10px;
}
.bgc{
	background: #efefef;
}
.bgmoney{
	background-image: url(../images/money.jpg);
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-color: #d8d8d8;

}
.content-00{
	font-size: 18px;
	padding:0 20%;
	box-sizing: border-box;
	clear: both;
	text-align: justify;
}
.content-01{
	font-size: 18px;
	padding:0 20%;
	box-sizing: border-box;
	clear: both;
	text-align: justify;
		min-height: 100vh;
}

.content-01 h2,.content-00 h2{
	text-align: center;
	font-size: 46px;
	font-weight: bold;
	color: #ccc;
	margin-top: 1em;
	line-height: 1.2em;
}

.content-01 h3,.content-00 h3{
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	color: #ccc;
}

.content-01 h4,.content-00 h4{
	font-size: 22px;
	color: #999;
	border-top:1px solid #ccc;
	padding-top: .5em; 
}
.bc{
	width: 23em;
	margin:auto;
	padding: 16vh 0;

}
.bc h2 br,.bcu br{
	display: none;
}

.bcu{
	margin:auto;
	padding: 16vh 0 0 0;
	text-align: center;
}
.bcd{
	padding: 0 0 16vh 0;
}
.bcud{
	padding: 16vh 0;
}
.content-txt p{
	margin-bottom: 1em;
}

.content-txt em{
	font-style:normal;
	color: #810000;
	font-weight: bold;
}

.content-txt ul{
	list-style: decimal;
	padding: 10px 0 10px 30px;
	font-size: 15px;
	line-height: 1.6em;
}
.buy-group{
	text-align: center;
	padding-top: 20px;
}
.buy-block{
	display: inline-block;
	vertical-align: top;
	width: 30.5%;
	margin:2% 1%;
	font-size: 15px;
	line-height: 1.4em;
	background: #fff;
}
.buy-block img{
	width: 100%;
}
.buy-block h5{
	padding: 0.5em 0;
}
@media (max-width: 1200px) {
	.info-01 .btn{
	bottom: 20%;
}


.footer{
	font-size: 16px;
	height: auto;padding: 10px;
	line-height: 1.5em;
}


.content-01 h3,.content-00 h3{
	font-size: 22px;
}

.content-01 h4,.content-00 h4{
	font-size: 20px;
}
}



@media (max-width: 960px){	
.wrap{
	background-image: url(../images/bag-cover-mobile.jpg);
}
.book-info{
	padding-top: 110%;
	margin-bottom: 100px;
}
.info-01 .btn{
	right: 50%;
	bottom: 0%;
	margin-right: -3em;
	font-size: 1em;
}

.btn{font-size: 1em;}
.content-01,.content-00{
	font-size: 16px;
	padding: 50px 10%;
}

.content-01 h2,.content-00 h2{
	font-size: 40px;
}

.content-01 h3,.content-00 h3{
	font-size: 20px;
}

.content-txt ul{
	font-size: 13px;
}
.footer{
	font-size: 14px;
}
.buy-block{
	display: inline-block;
	width: 47%;
}

.bc{
	padding: 7vh 0;

}
.bcu{
	padding: 7vh 0 0 0;
}
.bcd{
	padding: 0 0 7vh 0;
}
.bcud{
	padding: 7vh 0;
}

}

@media (max-width: 800px){
	.book-info{
	padding-top: 111%;
}
}


@media (max-width: 640px){
	.book-info{
	padding-top: 113%;
}
}


@media (max-width: 480px){

	.book-info{
	padding-top: 115%;
	margin-bottom: 70px;
}


.content-01 h2,.content-02 h2{
	font-size: 21px;
}
.bc {
	width: auto;
}
.bc br{
	display: none;
}
.bc h2 br,.bcu br{
	display: inline;
}
.bcu span{
	display: none;
}
.footer{
	font-size: 12px;
}
.buy-block{
	display: inline-block;
	width: 100%;
}


@media (max-width: 420px){

.book-info{
	padding-top: 117%;
}



@media (max-width: 360px){

.book-info{
	padding-top: 119%;
}


}

