@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
em{
	font-style: normal;
}
body{
	font-family: 'Noto Sans TC', sans-serif;
}	

.b01{
	height: 100vh;
	overflow: hidden;
	background: url(../images/bg01.png),
	url(../images/bg02.png),#9edce4;
	background-repeat: no-repeat,no-repeat,no-repeat;
	background-position: 2vw center,78vw center;
	-webkit-background-size: 21vw,19.5vw;
	background-size: 21vw,19.5vw;
}
.title-txt-group{
	margin: 30vh auto 0 auto;
	max-width: 540px;
}
.b01 p{
	font-size: 16px;
	text-align: center;
	margin-bottom: 0.7em;
}
.b01 hgroup
{text-align: center;
	margin:0.8em 0 1.8em 0;}
.b01 h1{
	background-color: #0e7f8e;
	color: #fff;
	font-size: 42px;
}

.b01 h2{
	background-color:#e5e5e5;
	color:  #0e7f8e;
	letter-spacing: .61em;
	font-weight: normal;
	font-size: 20px;
	padding-left: 0.61em;

}
.b01 a{
	display: block;
	text-align: center;
	color: #0e7f8e;
	font-size: 20px;
	position: relative;
	padding-bottom: 2em;
}

.point{
	display: block;
	width: 20px;
	height: 33px;
	background-image: url(../images/point.png);
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	top:1em;
	margin-left: -0.5em;
}

.bgc{
	background-color: #eeeeee;
}

.b02,.b03,.b04,.b05,.b07,.b08,.b10 {
	min-height: 100vh;
	overflow: hidden;
}
.b06{
	min-height: 100vh;
	background-color: #9edce4;
}
.txt-group{
	line-height: 1.8em;
}

.b02 .txt-group{
	max-width: 800px;
	margin:22vh auto 0 auto;
	background-image: url(../images/bg03.png);
	background-repeat: no-repeat;
	background-position: right center;
	-webkit-background-size: 48%;
	background-size: 48%;
}
.b03 .txt-group{
	max-width: 800px;
	margin:22vh auto 0 auto;
	background-image: url(../images/bg04.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	-webkit-background-size: 41%;
	background-size: 41%;
}
.b04 .txt-group,.b05 .txt-group,.b06 .txt-group{
	max-width: 800px;
	padding:14vh 0;
	margin:0 auto;
}
.b08 .txt-group,.b09 .txt-group,.b10 .txt-group,.b11 .txt-group{
	padding:14vh 10%;
	margin:0 auto;
}
.b07 .txt-group{padding:14vh 0;}
.b05 .txt-group{
	background-image: url(../images/bg05.png);
	background-repeat: no-repeat;
	background-position: right 30vh;
	-webkit-background-size: 25%;
	background-size: 25%;
}
.b05 p{
	margin-bottom: .8em;
	width: 70%;
}
.b05 a{
	color: #0e7f8e;
font-size: 24px;}
.t01,.t02{
	width: 47%;
	text-align:justify;
}
.t01{float: left;}
.t02{float: right}
.b04 .txt-group p{
	margin-bottom: .8em;
}
.subtitle-01{
	font-size: 36px;
	font-weight: normal;
	color: #0e7f8e;
	margin:.8em 0;
	line-height: 1.3em;
}
.b06 .subtitle-01,.b07 .subtitle-01,.b08 .subtitle-01,.b09 .subtitle-01,.b10 .subtitle-01,.b11 .subtitle-01{
	text-align: center;
	font-weight: bold;
}


.b06 h4{
	text-align: center;
	font-size: 20px;
	margin:-1.3em 0 2em 0;
}
.b07 h4{
	text-align: center;
	font-size: 20px;
	margin:2em 0 -1.3em 0;
}
.b07 h5{
	text-align: center;
	font-weight: normal;
	font-size: 20px;
}
.b07 h6{
	color: #0e7f8e;
	font-size: 15px;
	text-align: center;
}
.b07 p{
	font-size: 15px;
	text-align: center;
}
.b07 ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
	margin: 1em auto 3em auto;
	max-width: 960px;
}
.b07 ul li{
	display: inline-block;
	vertical-align: top;
	margin: 0 0.5% 1em 0.5%;
}
.miaokou li{
	width: 31%;
}
.cafe li{
	width: 23%;
}

.b08 img{
	width: 100%;
}

.b08 p{
	margin-bottom: 2em;

}

.big-word-01{
	font-size: 29px;
}
.big-word-02{
	font-size: 22px;
	line-height: 1.5em;
}

.big-number{
	width: 25%;
	float:left;
	text-align: center;

}
.big-number p{
	line-height: 1.2em;
	font-size: 13px;
}
.big-number span{
	font-size: 30px;
	display: block;
	margin-top: 0.2em;
}
.b06 ul{
	clear: both;
	padding: 2em 0 0 0;
	margin:0px;
}
.b06 ul li{
	list-style: none;
	border-bottom: 1px solid #0e7f8e;
	padding-bottom: 0.6em;
	margin-bottom: 0.6em;
	line-height: 1.4em;
}

.aims{
	display: inline-block;
	width: 31%;
	margin:0;
	vertical-align: top;
}
.subtitle-02{
	background-color: #0e7f8e;
	color: #fff;
	padding: 0 1em;
	transform: skew(-40deg);
	font-weight: normal;
	font-size: 18px;
}
.aims h4 div{
	transform: skew(40deg);
}
.aims p{
	border-bottom: 1px solid #ccc;
	line-height: 1.5em;
	padding: 1em 0 ;
	margin:0 1em;

}
.b10 .aims{
	width: 28%;
	margin:0 2%;
	padding-top: 80px;
	height: 10em;
	position: relative;
	background-repeat: no-repeat;
	background-position: right 30px;

}
.b10 .aims:nth-of-type(1){
	background-image: url(../images/bg06.png);
		-webkit-background-size: 65px;
	background-size: 65px;
}
.b10 .aims:nth-of-type(2){
	background-image: url(../images/bg07.png);
	-webkit-background-size: 90px;
	background-size: 90px;
}
.b10 .aims:nth-of-type(3){
	background-image: url(../images/bg08.png);
	-webkit-background-size: 90px;
	background-size: 90px;

}
.b10 .aims p{
	border: none;
	padding:0 ;
	margin:0;
}
.b10 h4{
	font-size: 20px;
	color: #0e7f8e;
	font-weight: normal;
}

.b10 .aims a{
	display: block;
	background: #0e7f8e;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 20px;
	padding: 0.5em 0;
	text-align: center;
}
.b10 iframe{
	display: block;
	margin:-4em auto 0 auto;

}

.other-buy{
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: center;
}
.other-buy img{
	width: 100%;
	display: block;	
}
.other-buy h4{
	padding: .5em 0;
	font-weight: normal;
}
.other-buy a{
	color: #000;
	display: block;
	background-color: #fff;
}
.other-buy li{
display: inline-block;
width: 30%;
margin:0 1% 2em 1%;}


@media screen and (max-width:1200px){

.b10 .aims{padding-top: 110px;}
.b10 .aims:nth-of-type(1){
		-webkit-background-size: 90px;
	background-size: 90px;
	
}
.b10 .aims:nth-of-type(2){
	-webkit-background-size: 115px;
	background-size: 115px;
}
.b10 .aims:nth-of-type(3){
	-webkit-background-size: 125px;
	background-size: 125px;
}
.aims,.b10 .aims{
	width:48%;
	margin:0 .7%;
}
.aims:nth-of-type(3){
	width:99%;
}

}
@media screen and (max-width:960px){
	.title-txt-group{
	margin: 15vh auto 0 auto;
}
	.b01{
	background: url(../images/bg01.png),#9edce4;
	background-position: center 55vh;
	background-repeat: no-repeat,no-repeat;
	-webkit-background-size: auto 35vh;
	background-size: auto 35vh;
}
.b02 .txt-group,.b03 .txt-group{
	max-width: 600px;
	margin:15vh auto 0 auto;
	height: 85vh;
	background-position:center 35vh;
	-webkit-background-size: 48%;
	background-size: 48%;
}
.b03 .txt-group{
	background-position:center 40vh;
}
.b02 p,.b03 p{
	text-align:justify;
}
.b02 p br,.b03 p br{
	display: none;

}
.b02 .subtitle-01,.b03 .subtitle-01,.b04 .subtitle-01{
	text-align: center;
}
.b03 .subtitle-01 span{
	display: block;
	overflow: hidden;
	height: 1px;
	line-height: 2em;
}
.b06 h4 {
	font-size: 16px;
	margin-top: -1.7em;
}
.b07 h4 {
	font-size: 16px;
}
.b04 .txt-group,.b05 .txt-group,.b06 .txt-group{
	max-width: 600px;
	padding: 9vh 0 30vh 0;
}
.t01,.t02{
	width: auto;
	float: none;
}
.b05 .txt-group p{
	width: auto;
}
.b05 .txt-group{
	background-position: right 63vh;
	-webkit-background-size: 20%;
	background-size: 20%;
}
.b07 ul{
	max-width: 640px;
}
.miaokou li{
	width: 48%;
}
.miaokou li:nth-child(8){
	display: none;
}
.cafe li{
	width: 31%;
}

.other-buy li{
	width: 46%;
}
.b10 iframe{
	display: block;
	margin:-1em auto 0 auto;

}
}



@media screen and (max-width:640px){
	.title-txt-group{
	max-width: 440px;
}
.b01 p{
	font-size: 13px;
}
	.b01 h1{
	font-size: 34px;
}

.b01 h2{
	font-size: 16px;

}
.b01 a{
	font-size: 16px;
}

.b02 .txt-group,.b03 .txt-group{
	max-width: 300px;
	margin:10vh auto 0 auto;
	height: 90vh;
	background-position:center 52vh;
	-webkit-background-size: 70%;
	background-size: 70%;
}

.b03 .txt-group{
	background-position:center 56vh;
}
.b05 .txt-group{
	padding: 5vh 10vw 44vh 10vw;
	background-position: 70vw 75vh;
}
.b06 .txt-group{
	padding: 5vh 10vw;
}

.b02 .subtitle-01,.b03 .subtitle-01,.b04 .subtitle-01,.b05 .subtitle-01,.b06 .subtitle-01,.b07 .subtitle-01,.b08 .subtitle-01,.b09 .subtitle-01,.b10 .subtitle-01,.b11 .subtitle-01{
	font-size: 30px;
}

.b06 .subtitle-01 span,.b06 h4 span,.b07 span{
	display: block;
}
.big-word-01{
	font-size: 26px;
}
.big-word-02{
	font-size: 20px;
}
.b04 .txt-group,.b06 .txt-group{
	max-width: 600px;
	padding:6vh 10vw 12vh 10vw;
}
.big-number{
	width: 50%;
	margin-bottom: 2em;
}
.aims,.b10 .aims{
	display: block;
	width:auto;
	margin:0;
	vertical-align: top;
}
.b10 .aims:nth-of-type(1){
		-webkit-background-size: 110px;
	background-size: 110px;
	padding-top: 135px;
}
.b10 .aims:nth-of-type(2){
	-webkit-background-size: 125px;
	background-size: 125px;
	padding-top: 110px;
}
.b10 .aims:nth-of-type(3){
	-webkit-background-size: 125px;
	background-size: 125px;
	padding-top: 105px;

}
.other-buy li{
	width: 100%;
}
}




@media screen and (max-width:480px){
	.title-txt-group{
		margin: 7vh auto 0 auto;
	max-width: 200px;
}
.title-txt-group hgroup span{
	display: none;
}
.b01{
	background-position: center 59vh;
}
.b01 p{
	display: inline;
}
	.b01 h1{
	font-size: 29px;
}

.b01 h2{
	font-size: 16px;

}
.b01 a{
	font-size: 16px;
}
.b05 .txt-group{
	background-position: center 90vh;
}

.b07 ul{
	max-width: 480px;
	padding: 0 5%;
}
.miaokou li{
	width: 99%;
}
.miaokou li:nth-child(8){
	display: inline-block;
}
.cafe li{
	width: 48%;
}

}


@media screen and (max-width:420px){
	.b05 .txt-group{
	background-position: center 105vh;
}
.b10 .aims:nth-of-type(1){
		-webkit-background-size: 75px;
	background-size: 75px;
	padding-top: 90px;
}
.b10 .aims:nth-of-type(2){
	-webkit-background-size: 90px;
	background-size: 90px;
	padding-top: 110px;
}
.b10 .aims:nth-of-type(3){
	-webkit-background-size: 85px;
	background-size: 85px;
	padding-top: 105px;

}
}